body {
    background: linear-gradient(0.25turn, #d02219, #eed308, #261bf0);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;

}

#button {
    color: aliceblue;
    font-size: 2rem;
    background-color: brown;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    align-self: center;
    display: flex;
    align-items: center;
    text-align: center;
}

#generatedMsg {
    padding: 1%;
    height: 18rem;
    width: 25rem;
    border: 0.1rem solid black;
    margin: 2rem;
    color: rgb(47, 9, 9);
    font-size: 2rem;
    display: flex;
    align-content: center;
    box-shadow: 0rem 0rem 0.5rem 0.5rem rgb(56, 2, 50);
    background: linear-gradient(to bottom, rgba(165, 42, 42, 0.5), rgb(157, 138, 254))

}

#button:hover {
    font-size: 2.25rem;
    background-color: white;
    color: black;
}

#button:active {
    box-shadow: 0rem 0rem 2rem 1rem rgb(56, 2, 50);
    font-weight: bolder;
}